#Nao {
  position: fixed;
  bottom: 7px;
  //right: 0px;
  left: 20%;
}
#Sim {
  position: fixed;
  bottom: 7px;
  right: 20%;
  //left: 10%;
}
ion-grid {
  --background: none;
    background-image: url("/assets/telas/compativel-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}
.slide-full {
  height: 100% !important;
}
.row-position {
  position: fixed;
  bottom: 15%;
  right: 0px;
  left: 0px;
}
