<ion-content no-padding>
    <ion-row class="card-position" text-center>
        <ion-col>
            <ion-card>
                <img src="assets/telas/the-end-logos.jpg" />
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="button-restart" text-center>
        <ion-col>
            <ion-button shape="round" class="animated tada delay-1s" size="small" (click)="onClick()" color="pink">
                <ion-icon mode="ios" slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>