ion-content {
    --background: none;
    background-image: url('/assets/telas/quero-ajudar-8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.button-position {
    position: fixed;
    bottom: 10%;
    right: 0px;
    left: 0px;
  }
