<ion-content>
  <ion-grid>
    <ion-row class="button-position" text-center>
      <ion-col size="12">
          <ion-button class="animated infinite heartBeat" id="Sim" shape="round" fill="clear" size="default" (click)="onClick()"
            style="width : 30% ; height : 75%">
            <img src="assets/icon/EF_OPS_1.png" />
          </ion-button>
        <div text-center>
          <ion-label style="color: white">
            Ajudar
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>