<ion-content>
  <ion-row class="spinner-position" text-center>
    <ion-col>
        <ion-spinner color="icon" name="dots"></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-row class="button-proximo-position" text-center>
    <ion-col>
      <ion-button class="animated bounceInLeft delay-2s" size="default" expand="default" (click)="onClick()" color="pink">
        <ion-icon mode="ios" slot="end" name="arrow-forward"></ion-icon>
        Proximo
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>