<ion-content>
      <ion-row text-center>
            <ion-col>
                  <ion-button class="button-1" (click)="navigator('male')" shape="round" fill="clear"
                        style="width : 40% ; height : 20%">
                        <img src="assets/icon/avatar-man.png" />
                  </ion-button>
            </ion-col>
            <ion-col>
                  <ion-button class="button-2" (click)="navigator('female')" shape="round" fill="clear"
                        style="width : 40% ; height : 20%">
                        <img src="assets/icon/avatar-woman.png" />
                        <ion-ripple-effect></ion-ripple-effect>
                  </ion-button>
            </ion-col>
      </ion-row>
</ion-content>