.button-1 {
  position: fixed;
  bottom: 10px;
  right: 0px;
  left: 10%;
}
.button-2 {
  position: fixed;
  bottom: 10px;
  right: 0px;
  left: 50%;
}

ion-content {
  --background: none;
  background-image: url("/assets/telas/home-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
