ion-content {
    --background: none;
    background-image: url('/assets/telas/cadastro-9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
ion-item {
    --border-radius: 20px;
    color: lightcoral;
    --highlight-height: 1px;
    --highlight-color-focused: lightcoral;
    width: 60%;
    margin-left: 20%;
}
.ion-item-2 {
    margin-top: 15px;
}
ion-button {
    --border-radius: 10px;
    --color: lightcoral;
    --background: white;
}
.ion-items {
    position: fixed;
    bottom: 35%;
    right: 0px;
    left: 0px;
}
.button-cadastrar-position {
    position: fixed;
    bottom: 20%;
    right: 0px;
    left: 0px;
  }